<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Enquete</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>

    <%- include('partials/header') %>

    <main class="container" style="margin-bottom: 30px;">
        <form id="pollForm" action="/polls" method="POST">
            <fieldset id="optionsFieldset">
                <label for="title">
                    <input name="title" id="title" type="text"
                        placeholder="Digite o título da enquete" required/>
                </label>

                <label for="option1">
                    <input name="options1" id="option1" type="text" class="option" placeholder="Digite uma opção" />
                </label>

                <label for="option2">
                    <input name="options2" id="option2" type="text" class="option" placeholder="Digite uma opção" />
                </label>
            </fieldset>
            <fieldset>
                <input type="submit" value="Enviar" />
            </fieldset>
        </form>
    </main>

    <%- include('partials/footer') %>


        <script>

            let optionInputs = document.getElementsByClassName('option');
            getOption()

            function getOption() {
                let optionInputs = document.getElementsByClassName('option');
                for (let i = 0; i < optionInputs.length; i++) {
                    optionInputs[i].removeEventListener('click', addOption);
                    optionInputs[i].removeEventListener('focus', addOption);
                }

                let lastOptionInput = optionInputs[optionInputs.length - 1];
                lastOptionInput.addEventListener('click', addOption);
                lastOptionInput.addEventListener('focus', addOption);
            }



            function addOption() {
                const optionsContainer = document.getElementById('optionsFieldset');
                const optionInputs = optionsContainer.querySelectorAll('.option');

                const optionCount = optionInputs.length;

                if (optionCount <= 5) {
                    const newOptionLabel = `<label for="option${optionCount}" style="position: relative;">
                                        <input name="options${optionCount}" id="option${optionCount}" type="text" class="option more-option" placeholder="Digite uma opção"/>
                                        </label>`
                    optionsContainer.insertAdjacentHTML('beforeend', newOptionLabel);

                }
                    
                getOption()     
            }


            document.getElementById('pollForm').addEventListener('submit', function (event) {

                const title = document.getElementById('title').value;
                const options = Array.from(document.querySelectorAll('.option'))
                  .map(input => input.value)
                  .filter(value => value.trim() !== '');

                event.preventDefault();

                    const formData = {
                        title: title,
                        options: options
                    };

                    if(formData.options.length >= 2){
                        fetch('/polls', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formData)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.pollId) {
                                window.location.href = `/id/${data.pollId}`;
                            } else {
                                alert("Ocorreu um erro ao enviar os dados.");
                            }
                        })
                        .catch(error => {
                            console.error('Erro:', error);
                            alert("Ocorreu um erro ao enviar os dados.");
                        });
                    } else {
                        alert("Crie ao menos duas opções!")
                    }


            });
                                 
        </script>

  
        <style>
            #title::placeholder {
            font-weight: bold;
                }
        </style>

</body>

</html>