<header class="container">
    <nav>
        <ul>
            <li>
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="white" width="45px">
                        <path
                            d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM160 368c0 8.8-7.2 16-16 16h-32c-8.8 0-16-7.2-16-16V240c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v128zm96 0c0 8.8-7.2 16-16 16h-32c-8.8 0-16-7.2-16-16V144c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v224zm96 0c0 8.8-7.2 16-16 16h-32c-8.8 0-16-7.2-16-16v-64c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v64z" />
                    </svg>
                </a>
            </li>
            <li>
                <h1 style="margin-bottom: 0px;">
                    <%= poll.title %>
                </h1>
            </li>
        </ul>
    </nav>
</header>