body { 
    font-family: "Roboto", sans-serif;
}

.form-control {
    border-radius: 0px;
}

button {
    border-radius: 0px !important;
}

html {
    height: 100%;
}

.score {
    display: flex;
    align-items: center;
}

.bar-container {
    flex-grow: 1;
    margin-left: 10px; 
}

.bar {
    height: 20px; 
    background-color: rgb(255, 255, 255); 
    border-radius: 20px;
}
